<h1>{{ article.title }}</h1>
<div class="post-header">
    <p>author: {{ article.author }}</p>
    <p>date published: {{ article.published_at | date: '%B %d, %Y'}}</p>
</div>
<div class="post-text">
    <img src={{ article.image | image_url: width: 200  }} alt="">
    <p class="">{{ article.content }}</p>
</div>

{% if article.comments_enabled? %}
    
    {% for comment in article.comments %}
        <div class="comment-container">
            <p>{{ comment.author }} {{ comment.created_at |  date: '%B %d, %Y'  }}</p>
            <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
        
        <h3> please leave a comment</h3>
    {% form 'new_comment',article %}
    {{ form.errors | default_errors }}
    <div>
        <input type="text" name="comment[author]" placeholder="author" value={{ comment.author }}>
    </div>    
    <div>
        <input type="email" name="comment[email]" placeholder="email" value={{ comment.email }}>
    </div>    
    <div>
        <textarea type="text" name="comment[body]" placeholder="body" value={{ form.body }}></textarea>
    </div>

        <button type="submit">submit</button>
    {% endform %}
{% endif %}