<h1>{{ product.title   }}</h1>
<div>
    <img src={{ product.featured_image |  image_url: width: 800  }} alt="">
    <p>{{ product.price | money}}</p>
    <p>{{  product.description  }}</p>
</div>

{%  form 'product', product %}

<select name="id">
    {% for variant in product.variants %}
        <option value={{ variant.id }}>
            {{ variant.title   }}
        </option>
    {% endfor %}
</select>
<button type="submit">Add to cart</button>
{% endform %} 